body {
    background-color: #ffffff;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    // font-style: normal;
}

.navbar-brand {
    img {
        max-height: 40px;
    }
}